<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ALBUMS</h1>

<ul th:each ="album: ${albumList} ">
    <li>
        TITLE: <div th:text ="${album.title}">title</div>
        ARTIST: <div th:text ="${album.artist}">artist</div>
        SONG COUNT: <div th:text ="${album.songCount}">songCount</div>
        LENGTH: <div th:text ="${album.length}">length</div>
        COVER ART: <img th:src="${album.imageUrl}"/>
    </li>
</ul>

</body>
</html>